$barlow: 'Barlow Semi Condensed', sans-serif;
$barlow-light: 'Playfair Display', serif;
$accent: #b79b6c;
$btn-secondary: rgb(51,54,59);
$container-width: 1380px;

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600;700&family=Playfair+Display&display=swap");


